:root {
    --background: rgb(224, 234, 247);
    --header-background: rgb(254, 251, 245);
    --primary-font: Corbel, 'Lucida Grande', 'Lucida Sans Unicode', 'Lucida Sans', 'DejaVu Sans',
        'Bitstream Vera Sans', 'Liberation Sans', Verdana, 'Verdana Ref', sans-serif;
}

body {
    font-family: var(--primary-font);
    background: var(--background);
    display: grid;
    grid-template-rows: auto 1fr;
}

header {
    position: sticky;
    top: 0;
    padding: 15px;
    height: 80px;

    display: flex;
    align-items: center;
    gap: 10px;

    background-color: var(--header-background);
    box-shadow: 0 1px 3px rgba(0, 0, 0, 0.12), 0 1px 2px rgba(0, 0, 0, 0.24);
}

header .logo {
    height: 100%;
}

main {
    padding: 20px;
}

div{text-align:center;
    border: 20px 20px;
    

}
h2 { font-family:Georgia, 'Times New Roman', Times, serif;
   color:black;
   text-shadow: 1px 1px 2px red, 0 0 1em blue, 0 0 0.2em blue;
   font-weight:bolder;
   text-decoration-line:overline underline;
   text-decoration-style: wavy;
   text-decoration-color:blueviolet;
   text-align:center;
   font-size:80px;
   

}


